* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}
#main-grid {
    display: grid;
    row-gap: 20px ;
    column-gap: 50px;
    grid-template-columns:1fr 1fr 1fr ; 
    grid-template-areas:
    "headline headline  picture" 
    "quote quote picture"
    "profile profile contact"
    "experience experience experience" ;
}

body {
    
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgba(192, 192, 192, 0.1);

 
   
    }

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
}
#experience-grid{
    display: grid;
    grid-area: experience;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "experience-code experience-code"
    "experience-database experience-database"
    "experience-web experience-design";
    
    
   
}
#experience-code{
    grid-area: experience-code
}
#experience-database {
    grid-area: experience-database
}
#experience-web{
    grid-area: experience-web
}
#experience-design{
    grid-area: experience-design
}
#headline{
    grid-area: headline;

}
#student-picture{
    grid-area: picture;


}
#student-quote{
grid-area: quote;
}
#student-profile{
    grid-area: profile;

}
#student-contact{
    grid-area: contact;
}

h2 {
    



    font-size: 1.8em;
    line-height: 1.45em;
}



h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
}
@media(max-width: 1024px) {
    #main-grid {
        column-gap: 35px;
        grid-template-columns: 1fr 1fr;
    }
    #experience-grid {
        row-gap: 20px;
    column-gap: 20px;
    grid-template-areas:
    "experience-code experience-database"
    "experience-web experience-design";
    

    
}

}
@media(max-width: 450px) {
    #main-grid {
        column-width: 1;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "picture"
        "headline"
        "quote"
        "profile"
        "contact"
        "experience";

    }
    #experience-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
    "experience-code"
    "experience-database"
    "experience-web"
    "experience-design";

    }
}
