header {
    grid-area: header-ga;
}

#menu-nav {
    grid-area: menu-ga;
}

main {
    grid-area: main-ga;
}

#upcoming-events {
    grid-area:
}

footer {
    grid-area: footer-ga;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr 3fr;
    grid-template-areas: "header-ga header-ga header-ga" "menu-ga  main-ga  events-ga" "footer-ga footer-ga footer=ga";
}